.headerContainer {
  z-index: 100;

  height: var(--header-height);
  background: var(--header-background);

  width: 100%;
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  // Limitler
  @media screen and (max-width: 1180px) {
    padding: 0 2rem;
  }

  > nav {
    max-width: var(--limit-width);

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    // = = = = = = LOGO = = = = = =
    > a {
      font: 700 1.31rem "Poppins", sans-serif;
      cursor: pointer;

      &:hover {
        text-decoration: none;
      }
    }

    // = = = = = = Ãtems = = = = = =
    ul {
      display: flex;

      li {
        text-align: center;
        padding: 0 0.8rem;

        a {
          position: relative;
          transition: color 0.2s;

          color: var(--link);
        }
      }
    }

    .menu {
      > div {
        display: none;

        svg {
          width: 1.8rem;
          height: 1.8rem;
        }
      }

      &.open {
        .modal {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          position: absolute;
          top: var(--header-height);
          left: 0;
          right: 0;
          background: var(--dominate);
          min-height: 10rem;

          > ul {
            display: flex;
            flex-direction: column;

            li {
              padding: 1rem 0;
            }
          }
        }
      }

      @media screen and (max-width: 595px) {
        > ul {
          display: none;
        }

        .controls {
          display: initial;
        }
      }
    }
  }
}
