.mainContainer {
  margin-top: calc(var(--header-height) + 1px);
  width: 100%;
}

.initialSection {
  width: 100%;
  min-height: calc(90vh - var(--header-height));
  position: relative;

  > article {
    img {
      border-radius: 0 0 0.5rem 0.5rem;
    }

    @media screen and (max-width: 736px) {
      height: calc(100vh - var(--header-height));
    }
  }

  > div {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: flex-end;

    margin: 0 auto;
    margin-top: 10rem;
    max-width: var(--limit-width);

    @media screen and (max-width: 1237px) {
      padding: 0 2rem;
    }
    @media screen and (max-width: 790px) {
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin-top: 9rem;
    }
    @media screen and (max-width: 736px) {
      margin-top: 4rem;
    }

    > div {
      h1 {
        font-size: 2.8rem;
        margin-bottom: 1.2rem;
        max-width: 500px;
        text-align: unset;

        color: #fffffd;
        transition: var(--global-transition);
      }
      p {
        max-width: 400px;
        font-size: 1.12rem;
        color: #dedede;
      }

      > div {
        display: flex;

        > a {
          background: transparent;
          text-decoration: none;
          color: var(--header-background);

          display: inline-flex;
          align-items: center;

          font: 500 1rem "Roboto", sans-serif;
          height: 3.2rem;
          width: 12rem;
          padding: 0 2rem;
          margin-top: 2rem;
          margin-left: 1rem;
          border-radius: 0.25rem;
          border: 2px solid var(--header-background);

          transition: all 0.3s;

          svg {
            margin-left: 0.5rem;
          }

          &:hover {
            border-color: var(--text-color);
            color: var(--link);
            background: rgba(18, 18, 18, 0.81);
          }
        }
      }

      button {
        background: var(--link);
        color: var(--primary-ground);

        display: inline-flex;
        align-items: center;

        font: 500 1rem "Roboto", sans-serif;
        height: 3.2rem;
        width: 12rem;
        padding: 0 2rem;
        margin-top: 2rem;
        border-radius: 0.25rem;

        transition: all 0.3s;

        &:hover {
          background: var(--text-color);
          color: var(--primary-ground);
        }
      }

      @media screen and (max-width: 1072px) {
        max-width: 487px;

        h1 {
          max-width: 487px;
          font-size: 2rem;
        }
        p {
          max-width: 387px;
        }
      }
      @media screen and (max-width: 850px) {
        max-width: 400px;
      }
    }
  }
}

.aboutSection {
  position: relative;
  padding: 5rem 0;
  background: var(--secondary-ground);

  // min-height: 18rem;

  > div {
    max-width: 736px;
    margin: 0 auto;
    text-align: center;

    @media screen and (max-width: 790px) {
      padding: 0 1.5rem;
    }

    h2 {
      display: inline-block;
      margin-bottom: 1rem;
    }

    h3 {
      font-size: 1.3rem;
      line-height: 2.1rem;
      font-weight: 400;
    }
  }
}

.servicesGroup {
  position: relative;

  > div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 0.5rem;

    padding: 5rem 0;
    max-width: var(--limit-width);
    width: 100%;
    margin: 0 auto;

    @media screen and (max-width: 1222px) {
      padding: 5rem 1.5rem;
    }
    @media screen and (max-width: 544px) {
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    // = = = = = Service Box = = = = = =
    > a {
      display: flex;
      flex-direction: column;
      text-decoration: none;

      padding: 2rem;
      max-width: 400px;
      border-radius: 0.2rem;
      width: 100%;

      background: var(--secondary-ground);

      header {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;

        strong {
          // margin-left: 1rem;
          color: var(--link);
          word-break: keep-all;
        }

        img {
          max-height: 100px;
        }
      }

      &:hover {
        box-shadow: var(--panel-shadow);
        cursor: pointer;
      }
    }
  }
}

.servicesModule {
  position: relative;

  > div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.8rem;

    padding: 5rem 0;
    max-width: var(--limit-width);
    width: 100%;
    margin: 0 auto;

    @media screen and (max-width: 1222px) {
      padding: 5rem 1.5rem;
    }

    //  = = = = = Service Box = = = = = =
    > a {
      display: flex;
      flex-direction: column;
      text-decoration: none;

      padding: 2rem;
      max-width: 400px;
      border-radius: 0.2rem;
      width: 100%;

      background: var(--secondary-ground);

      header {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;

        strong {
          margin-left: 1rem;
          color: var(--link);
        }

        img {
          max-height: 100px;
        }
      }

      &:hover {
        box-shadow: var(--panel-shadow);
        cursor: pointer;
      }
    }
  }
}

@keyframes simple-animation {
  0% {
    background: var(--secondary-dark);
    top: -23.4%;
  }

  40% {
    background: var(--dominating);
    top: 12.6%;
  }

  100% {
    background: var(--link);
    top: 16.6%;
  }
}
