.mainContainer {
  margin-top: calc(var(--header-height) + 2rem);
  width: 100%;
}

.initialSection {
  width: 100%;
  min-height: calc(100vh - var(--header-height));
  position: relative;

  @media screen and (max-width: 1237px) {
    padding: 0 2rem;
  }

  > div {
    margin: 0 auto;
    margin-top: 15rem;
    display: flex;
    max-width: var(--limit-width);

    > div {
      flex: 1;

      h1 {
        font-size: 2.8rem;
        margin-bottom: 1.2rem;
        max-width: 500px;
        text-align: unset;

        transition: var(--global-transition);
      }
      p {
        max-width: 400px;
        font-size: 1.12rem;
        color: #413f3f;
      }

      > div {
        display: flex;

        > a {
          background: transparent;
          text-decoration: none;
          color: var(--text-color);

          display: inline-flex;
          align-items: center;

          font: 500 1rem "Roboto", sans-serif;
          height: 3.2rem;
          width: 12rem;
          padding: 0 2rem;
          margin-top: 2rem;
          margin-left: 1rem;
          border-radius: 0.25rem;
          border: 2px solid var(--text-color);

          transition: all 0.3s;

          svg {
            margin-left: 0.5rem;
          }

          &:hover {
            border-color: var(--link-desfoque);
            color: var(--link);
          }
        }
      }

      button {
        background: var(--link);
        color: var(--primary-ground);

        display: inline-flex;
        align-items: center;

        font: 500 1rem "Roboto", sans-serif;
        height: 3.2rem;
        width: 12rem;
        padding: 0 2rem;
        margin-top: 2rem;
        border-radius: 0.25rem;

        transition: background 0.3s;

        &:hover {
          background: var(--link);
        }
      }

      @media screen and (max-width: 1072px) {
        max-width: 487px;

        h1 {
          max-width: 487px;
          font-size: 2rem;
        }
        p {
          max-width: 387px;
        }
      }
    }

    > article {
      flex: 1;

      @media screen and (max-width: 1072px) {
        max-width: 487px;
      }
    }
  }

  .imageStylus {
    position: relative;

    img {
      position: relative;
      z-index: 1;
      border-radius: 2rem;
    }

    &::after {
      content: "";
      height: 100%;
      width: 26rem;
      position: absolute;
      border-radius: 50%;
      right: -3rem;
      z-index: 0;
      transition: all 0.3s ease;

      animation: simple-animation 0.8s ease forwards;
    }
  }
}

.aboutSection {
  position: relative;
  padding: 5rem 0;
  background: var(--secondary-ground);

  // min-height: 18rem;

  > div {
    max-width: 736px;
    margin: 0 auto;
    text-align: center;

    h2 {
      display: inline-block;
      margin-bottom: 1rem;
    }

    h3 {
      font-size: 1.3rem;
      line-height: 2.1rem;
      font-weight: 400;
    }
  }
}

.servicesGroup {
  position: relative;

  > div {
    display: flex;
    gap: 0.5rem;
    padding: 5rem 0;
    max-width: var(--limit-width);
    width: 100%;
    margin: 0 auto;
    // = = = = = Service Box = = = = = =
    > a {
      display: flex;
      flex-direction: column;
      text-decoration: none;

      padding: 2rem;
      max-width: 400px;
      border-radius: 0.2rem;

      background: var(--secondary-ground);

      header {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;

        strong {
          margin-left: 1rem;
          color: var(--link);
        }
      }

      &:hover {
        box-shadow: var(--panel-shadow);
        cursor: pointer;
      }
    }
  }
}

.servicesModule {
  position: relative;

  > div {
    display: flex;
    justify-content: center;
    gap: 0.8rem;
    padding: 5rem 0;
    max-width: var(--limit-width);
    width: 100%;
    margin: 0 auto;
    // = = = = = Service Box = = = = = =
    > a {
      display: flex;
      flex-direction: column;
      text-decoration: none;

      padding: 2rem;
      max-width: 400px;
      border-radius: 0.2rem;

      background: var(--secondary-ground);

      header {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;

        strong {
          margin-left: 1rem;
          color: var(--link);
        }
      }

      &:hover {
        box-shadow: var(--panel-shadow);
        cursor: pointer;
      }
    }
  }
}

@keyframes simple-animation {
  0% {
    background: var(--secondary-dark);
    top: -23.4%;
  }

  40% {
    background: var(--dominating);
    top: 12.6%;
  }

  100% {
    background: var(--link);
    top: 16.6%;
  }
}
