.mainContainer {
  margin-top: var(--header-height);
  margin-bottom: 4rem;
  width: 100%;

  > div {
    height: 12rem;
    background-image: linear-gradient(
      180deg,
      #cacaca 0%,
      rgba(164, 222, 255, 0) 100%
    );

    @media screen and (max-width: 1237px) {
      padding: 0 2rem;
    }

    > div {
      max-width: var(--limit-width);
      width: 100%;
      margin: 0 auto;

      @media screen and (max-width: 1110px) {
        text-align: center;
      }
      @media screen and (max-width: 670px) {
        text-align: initial;
      }

      h1 {
        display: inline-block;
        margin: 2.5rem 0;
      }
    }
  }
}
