* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

:root {
  --limit-width: 1200px;
  --hue: 400;

  --header-height: 7.5rem;
  --header-background: #fafafa;

  --primary-ground: #ffffff;
  --secondary-ground: #f8f8f8;
  --text-color: #413f3f;
  --link: #4059ce;
  --link-disfoque: #526bda;

  --divider: linear-gradient(
    270deg,
    hsla(var(--hue), 36%, 57%, 1) 0%,
    hsla(var(--hue), 65%, 88%, 0.34) 100%
  );
}

*,
button,
input,
textarea {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  outline: 0;
}

body {
  font: 400 1rem "Roboto", sans-serif;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: var(--primary-ground);
  color: var(--text-color);
}

button {
  cursor: pointer;
  border: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

ul li {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

.divider-1 {
  height: 1px;
  background: var(--divider);
}
